<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../static/csfa.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Book Store</title>
<style>
        p{ font-size: 18px;
           color: purple;}
         
        pp{font-size: 14px;
           color: red;}

             
        p1{font-size: 14px;
           color: black;}
        
    </style>
<link href="../static/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
 <body style="background-image: url('../static/images/bb1.jpg')">
        <div id="templatemo_container" style="background-image: url('../static/images/bb5.jpg')">
        <div id="templatemo_menu" style="background-image: url('../static/images/templatemo_menu_bg.jpg')">                
                    <ul>
                        <li><a href="{{ url_for('index')}}" class="current" style="color:red">Home</a></li>
                        <li><a href="{{url_for('contact')}}" style="color:red">Contact</a></li>
                        <li><a href="{{url_for('mybooks')}}" style="color:red">MyBooks</a></li> 
                        <li><a href="{{url_for('logout')}}" style="color:red">Logout</a></li>
                    </ul>
                </div> 
                <br>
    
    <div id="templatemo_content">
    	
        <div id="templatemo_content_left">
        	<div class="templatemo_content_left_section">
                <form action="{{url_for('search')}}" method="post">
                        <input id="title" name="tit" placeholder="Title">
                        <button id="button" type="submit" class="btn btn-primary">Click Me</button>
                </form>
            </div>
			<div class="templatemo_content_left_section">
            	
            </div>
            
            <div class="templatemo_content_left_section">                
                </div>
        </div> 
        
        <div id="templatemo_content_right">
            {% for i in range(0,1) %}
        	
            <p>{{title[i]}}</p>
            <div class="image_panel"><img src="{{imglink[i]}}" alt="Book cover" width="100" height="150" /></div>
          
            <ul>
                    <pp> <li>&nbsp;&nbsp;Authors:- 
                    {% for auth in author[i] %}
                        <span>{{auth}} </span>
                    {% endfor %}
                </li>
            	<li>&nbsp;&nbsp;Published on:  {{publish_date[i]}}</li>
                <li>&nbsp;&nbsp;Page Count:  {{page_count[i]}}</li>
                <li>&nbsp;&nbsp;ISBN 10: {{isbn10[i]}} | ISBN 13: {{isbn13[i]}}</li>
                {% if trulist[i] %}
                <li><form action="{{url_for('addbook')}}" method="post">
                        <input id="title" name="bookisbn" value="{{isbn13[i]}}" style="display:none">
                        <button id="button" type="submit" class="btn btn-success">Add to List</button>
                </form>
                </li>
                {% endif %}

                {% if not trulist[i] %}
                <li><form action="{{url_for('remove')}}" method="post">
                        <input id="title" name="bookisbn" value="{{isbn13[i]}}" style="display:none">
                        <button id="button" type="submit" class="btn btn-success">Remove from List</button>
                </form>
                </li>
                {% endif %}
                
                    <form class="rating">
                        <label>
                          <input type="radio" name="stars" value="1" />
                          <span class="icon">★</span>
                        </label>
                        <label>
                          <input type="radio" name="stars" value="2" />
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                        </label>
                        <label>
                          <input type="radio" name="stars" value="3" />
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                          <span class="icon">★</span>   
                        </label>
                        <label>
                          <input type="radio" name="stars" value="4" />
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                        </label>
                        <label>
                          <input type="radio" name="stars" value="5" />
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                        </label>
                      </form>
                

                <br>
                <li><form action="{{url_for('comment')}}" method="post">
                    <input id="title" name="bookisbn" value="{{isbn10[i]}}" style="display:none">
                    <input name="comment" type="text" placeholder="Add your comment">
                    <button id="button" type="submit" class="btn btn-success">Comment</button>
                </form></li>
                <br><br> <br><br></pp>
                <div style="color:rgb(255, 173, 173)">
                <h1 style="font-size:23px;text-decoration: underline;color: blueviolet">Comment</h1><p1>
                {% for item in rows %}
                <li>
                   
                    <h4>&nbsp;&nbsp;{{ item.comment }}</h4>
                
                </li>
                {% endfor %}</div>

                <li><a href="{{ prelink[0] }}"style="color:blue;text-decoration: underline">More Details</a></li></p1>
            </ul>
             <div class="cleaner_with_height">&nbsp;</div>
            {% endfor %}
             <a href="subpage.html"><img src="../static/images/book1.gif" alt="ads" height="200px" width="100%"/></a>
            </div> <!-- end of content right -->
        
    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
    <div id="templatemo_footer">
    
        <a href="{{ url_for('index')}}">Home</a> | <a href="{{ url_for('mybooks')}}">Books</a> | <a href="{{ url_for('contact')}}">Contact Us</a>|<br />
        <a href="#">Devloped by</a><br>
        <a href="#">Manoj , Kavish & Mohit<br></a> 
     </div>
</div> 
</body>
</html>